/* Header.module.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  position: sticky;
  top: 0;
  width: 98%;
  z-index: 1001; /* Ensure it's above other content */

  &-hamburger {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;

    &__line {
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color);
      transition: all 0.3s ease;

      &--open-top {
        transform: rotate(45deg) translate(0.5rem, 0.5rem);
      }

      &--open-middle {
        opacity: 0;
      }

      &--open-bottom {
        transform: rotate(-45deg) translate(0.5rem, -0.5rem);
      }
    }
  }

  &-logo {
    order: 2;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
      text-decoration: none;
      color: var(--primary-color);

      .header-logo__img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }
    }
  }

  &-end {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    &__button {
      background: transparent;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      transition: background-color 0.3s ease, color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-color);
        color: #ffffff;
      }
    }

    &__phone {
      background: transparent;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent dropdown background */
    width: 25vw;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    &--open {
      max-height: 20rem;
      opacity: 1;
      visibility: visible;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      &__button:not(:last-child) {
        margin-bottom: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  @media (max-width: 768px) {
    &-logo {
      &__link {
        .header-logo__img {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    &-nav {
      width: 50vw;
    }
  }
}
