.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  position: relative;
  z-index: 1001; // Ensure it's above other content

  &-hamburger {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;

    &__line {
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color); // Ensure the color is visible
      transition: all 0.3s ease;

      &--open-top {
        transform: rotate(45deg) translate(0.5rem, 0.5rem);
      }

      &--open-middle {
        opacity: 0;
      }

      &--open-bottom {
        transform: rotate(-45deg) translate(0.5rem, -0.5rem);
      }
    }
  }

  &-logo {
    order: 2;
    font-size: 1.5rem;
    font-weight: bold;

    &__link {
      text-decoration: none;
      color: var(--primary-color);
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dropdown-background);
    width: 100%; // Make it full width
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    border: 1px solid var(--dropdown-border-color); // Add border
    border-radius: 0.5rem; // Add border radius
    box-shadow: var(--box-shadow); // Add box shadow

    &--open {
      max-height: 20rem; // Adjust this as needed to fit the content
      opacity: 1;
      visibility: visible;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;

      &__button {
        background: none;
        border: none;
        color: var(--primary-color);
        font-size: 1rem;
        cursor: pointer;
        padding: 0.5rem 1rem; // Adjust padding for spacing
        text-align: left;
        width: 100%;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: var(--submenu-hover-background);
          color: var(--secondary-color);
        }

        &__link {
          text-decoration: none;
          color: inherit;
          display: block;
          width: 100%;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}