@use "../../styles/mixins.scss" as *;

.header {
  @include sticky-header;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1001;

  &-logo {
    order: 2;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-hamburger {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 1002;

    &__line {
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &__line--open-top {
      transform: rotate(45deg) translate(0.5rem, 0.5rem);
    }

    &__line--open-middle {
      opacity: 0;
    }

    &__line--open-bottom {
      transform: rotate(-45deg) translate(0.5rem, -0.5rem);
    }

    @include mobile {
      width: 2rem;
      height: 2rem;
    }

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }

    @include desktop {
      width: 3rem;
      height: 3rem;
    }
  }

  .header-end {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 0;

    &__button {
      box-shadow: var(--box-shadow);
      padding-right: 1rem;

      @include tablet {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
      }

      @include desktop {
        padding: 1rem 2rem;
        font-size: 1.25rem;
      }
    }

    &__phone {
      border-radius: 1.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8rem;
      height: 2rem;
      font-family: var(--font-body);
      font-weight: 400;

      @include mobile {
        font-size: 0.75rem;
      }

      @include tablet {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        width: 10rem;
        height: 2.5rem;
      }

      @include desktop {
        font-size: 1.25rem;
        padding: 0.75rem 1.25rem;
        width: 12rem;
        height: 3rem;

        &:hover {
          background-color: var(--secondary-color);
          color: var(--font-inverse);
        }
      }
    }
  }

  .header-nav {
    position: absolute;
    top: 100%;
    left: auto; /* Align underneath hamburger */
    right: 0;
    width: auto; /* Smaller width */
    background-color: rgba(255, 255, 255, 0.9);
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
  
    &--open {
      max-height: 200px; /* Adjust max-height for the menu */
      opacity: 1;
      visibility: visible;
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 1rem;
  
      @include tablet {
        padding: 1rem;
      }
  
      @include desktop {
        padding: 1rem;
      }
    }
  
    /* Dropdown Button Styles */
    &__button {
      width: 100%;
      padding: 0.75rem 0;
      font-size: 1rem;
      color: var(--primary-color);
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
      border: none; /* No border on the buttons */
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a border-bottom */
      background: none; /* No background */
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.05); /* Slight hover effect */
      }
  
      &:last-child {
        border-bottom: none; /* Remove border-bottom on the last button */
      }
    }
  
    @include mobile {
      width: 180px; /* Small width for mobile */
    }
  
    @include tablet {
      width: 220px;
    }
  
    @include desktop {
      width: 240px;
    }
  }
  

  @include mobile {
    grid-template-columns: auto 1fr auto;

    .header-logo__img {
      width: 4rem;
      height: 4rem;
    }

    .header-nav {
      right: 1rem; /* Ensure dropdown is well positioned on mobile */
    }

    .header-end__phone {
      display: none;
    }
  }

  @include tablet {
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;

    .header-logo__img {
      width: 14rem;
      height: 14rem;
    }

    .header-end__phone {
      display: flex;
      font-size: 1rem;
    }

    .header-nav {
      right: 1.5rem;
    }
  }

  @include desktop {
    grid-template-columns: auto 1fr auto;

    .header-logo__img {
      width: 16rem;
      height: 16rem;
    }

    .header-nav {
      right: 2rem;
    }

    .header-end__phone {
      font-size: 1.25rem;
      padding: 0.75rem 1.5rem;

      &:hover {
        background-color: var(--secondary-color);
        color: var(--font-inverse);
      }
    }
  }
}
