.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);

  &-hamburger {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1001;

    &__line {
      width: 100%;
      height: 0.25rem;
      background-color: var(--secondary-color); // Ensure the color is visible
      transition: all 0.3s ease;

      &--open {
        background-color: var(--secondary-color);
      }
    }
  }

  &-logo {
    order: 2;
    font-size: 1.5rem;
    font-weight: bold;

    &__link {
      text-decoration: none;
      color: var(--primary-color);
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &--open {
      max-height: 15rem;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        padding: 1rem;
        text-align: center;

        &__link {
          text-decoration: none;
          color: var(--primary-color);
          display: block;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}
