@use '../../styles/mixins.scss' as *;

.header {
  @include flex-center(space-between, center);
  @include sticky-header;
  background-color: rgba(255, 255, 255, 0.1); // Semi-transparent background
  width: auto;

  &-hamburger {
    order: 1;
    @include flex-center(column, space-around, center);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-left: 2rem;

    &__line {
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color);
      transition: all 0.3s ease;

      &--open-top {
        transform: rotate(45deg) translate(0.5rem, 0.5rem);
      }

      &--open-middle {
        opacity: 0;
      }

      &--open-bottom {
        transform: rotate(-45deg) translate(0.5rem, -0.5rem);
      }
    }
  }

  &-logo {
    order: 2;
    font-size: 1.5rem;
    font-weight: bold;
    @include flex-center(center, center);

    &__link {
      text-decoration: none;
      color: var(--primary-color);

      .header-logo__img {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
      }
    }
  }

  &-end {
    order: 3;
    @include flex-center(row, flex-end, center);
    gap: 1rem;
    margin-right: 2rem;


    &__button {
      @include my-button-style();
    }

    &__phone {
      @include button-style(#0d283d, #0d283d, lighten(#0d283d, 10%), #fff, 0.75rem, 1.5rem, 1rem);
      @include flex-center(row, center, center);
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    left: 0;
    @include glassmorphism(rgba(255, 255, 255, 0.1));
    width: 25vw;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

    &--open {
      max-height: 20rem;
      opacity: 1;
      visibility: visible;
    }

    &__container {
      @include flex-center(column, center, center);
      padding: 1rem;

      &__button:not(:last-child) {
        margin-bottom: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  @media (max-width: 768px) {
    &-logo {
      &__link {
        .header-logo__img {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    &-nav {
      width: 50vw;
    }
  }
}
