.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff; // background color
  position: relative;
  z-index: 1001; // Ensure it's above other content

  &-hamburger {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;

    &__line {
      width: 100%;
      height: 0.25rem;
      background-color: #000000; // primary color
      transition: all 0.3s ease;

      &--open-top {
        transform: rotate(45deg) translate(0.5rem, 0.5rem);
      }

      &--open-middle {
        opacity: 0;
      }

      &--open-bottom {
        transform: rotate(-45deg) translate(0.5rem, -0.5rem);
      }
    }
  }

  &-logo {
    order: 2;
    font-size: 1.5rem;
    font-weight: bold;

    &__link {
      text-decoration: none;
      color: #000000; // primary color
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1); // dropdown background
    width: 25vw; // Adjust to take 25% of the viewport width
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    backdrop-filter: blur(10px); // For glassmorphic effect
    border: 1px solid rgba(255, 255, 255, 0.3); // dropdown border color
    border-radius: 0.5rem; // Add border radius
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // box shadow

    &--open {
      max-height: 20rem; // Adjust this as needed to fit the content
      opacity: 1;
      visibility: visible;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      &__button {
        position: relative;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.1); // dropdown background
        border: none;
        color: #000000; // primary color
        font-size: 1rem;
        cursor: pointer;
        padding: 0.5rem 1rem; // Adjust padding for spacing
        text-align: center;
        width: 100%;
        max-width: 200px; // Ensure buttons are of uniform width
        border-bottom: 2px solid rgba(0, 0, 0, 0.1); // Add border line between buttons
        transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // box shadow
        backdrop-filter: blur(10px); // For glassmorphic effect

        &:last-child {
          border-bottom: none; // Remove border from the last button
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2); // submenu hover background
          color: #ff0000; // secondary color
          border-bottom: 4px solid #ff0000; // Thicker border on hover
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          width: 0;
          height: 0;
          opacity: 1;
          transition: width 0.6s ease-out, height 0.6s ease-out, opacity 1.2s ease-out;
        }

        &.ripple {
          &::after {
            width: 300%;
            height: 300%;
            opacity: 0;
          }
        }
      }
    }
  }
}
