.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color); // Use background color from global styles
  position: relative;
  z-index: 1001; // Ensure it's above other content

  &-hamburger {
    order: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;

    &__line {
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color); // Primary color from global styles
      transition: all 0.3s ease;

      &--open-top {
        transform: rotate(45deg) translate(0.5rem, 0.5rem);
      }

      &--open-middle {
        opacity: 0;
      }

      &--open-bottom {
        transform: rotate(-45deg) translate(0.5rem, -0.5rem);
      }
    }
  }

  &-logo {
    order: 2;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    &__link {
      text-decoration: none;
      color: var(--primary-color); // Primary color from global styles

      img {
        width: 1rem; // Use rem units for the logo size, twice as big
        height: 1rem; // Maintain aspect ratio
        border-radius: 50%; // Optional: Add border radius to the logo image
        margin-right: 0.5rem; // Optional: Add some margin to the right of the logo
      }
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1); // Dropdown background
    width: 25vw; // Adjust to take 25% of the viewport width
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    backdrop-filter: blur(10px); // For glassmorphic effect
    border: 1px solid rgba(255, 255, 255, 0.3); // Dropdown border color
    border-radius: 0.5rem; // Add border radius
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Box shadow

    &--open {
      max-height: 20rem; // Adjust this as needed to fit the content
      opacity: 1;
      visibility: visible;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      // Add border between buttons
      &__button:not(:last-child) {
        margin-bottom: 0.5rem; // Space between buttons
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Border between buttons
      }
    }
  }

  // Media query for mobile responsiveness
  @media (max-width: 768px) {
    &-logo {
      &__link {
        img {
          width: 4rem; // Adjust logo size for mobile, twice as big
          height: 4rem; // Maintain aspect ratio
        }
      }
    }

    &-nav {
      width: 50vw; // Adjust dropdown width for mobile
    }
  }
}
