.header {
    background-color: #0070f3;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 20px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }