.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color);
  }
  
  .contact-form__title {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }
  
  .contact-form__services-container {
    margin-bottom: 2rem;
  }
  
  .contact-form__services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .contact-form__service-button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--white-font-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &--selected {
      background-color: var(--primary-color);
      color: #fff;
    }
  
    &:hover {
      background-color: var(--primary-color-dark);
      color: #fff;
    }
  }
  
  .contact-form {
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }
  
  .contact-form__input-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .contact-form__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    pointer-events: none;
    transition: 0.2s ease all;
    color: var(--white-font-color);
  }
  
  .contact-form__input,
  .contact-form__select,
  .contact-form__textarea {
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 1.5rem;
    border: none;
    border-bottom: 1px solid var(--background-color);
    border-radius: 0;
    background-color: transparent;
    color: var(--white-font-color);
  
    &:focus {
      outline: none;
      border-bottom: 1px solid var(--primary-color);
    }
  
    &:focus ~ .contact-form__label,
    &:not(:placeholder-shown) ~ .contact-form__label {
      top: -1.5rem;
      left: 0;
      font-size: 0.75rem;
      color: var(--primary-color);
    }
  }
  
  .contact-form__textarea {
    height: 100px;
  }
  
  .contact-form__fieldset {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  
    label {
      color: var(--white-font-color);
    }
  }
  
  .contact-form__button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: var(--primary-color-dark);
    }
  }
  