.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color);
  
    &__info {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    &__title {
      font-size: 2rem;
      color: var(--secondary-color);
      margin-bottom: 1rem;
    }
  
    &__social-media {
      margin-top: 1rem;
  
      &__social-link {
        color: var(--primary-color);
        text-decoration: none;
        margin: 0 0.5rem;
        font-size: 1.2rem;
  
        &:hover {
          color: var(--primary-color-dark);
        }
      }
    }
  
    &__form {
      max-width: 600px;
      width: 100%;
      padding: 2rem;
      background-color: var(--secondary-color);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
    }
  
    &__form-title {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: var(--primary-color);
    }
  
    &__services {
      margin-bottom: 2rem;
      text-align: center;
  
      &__services-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
      }
  
      &__service-button {
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--white-font-color);
        border: 1px solid var(--primary-color);
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
  
        &--selected {
          background-color: var(--primary-color);
          color: #fff;
        }
  
        &:hover {
          background-color: var(--primary-color-dark);
          color: #fff;
        }
      }
    }
  
    &__input-group {
      position: relative;
      margin-bottom: 1.5rem;
    }
  
    &__label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5rem 0;
      pointer-events: none;
      transition: 0.2s ease all;
      color: var(--white-font-color);
    }
  
    &__input,
    &__select,
    &__textarea {
      width: 100%;
      padding: 0.5rem 0;
      margin-top: 1.5rem;
      border: none;
      border-bottom: 1px solid var(--background-color);
      border-radius: 0;
      background-color: transparent;
      color: var(--white-font-color);
  
      &:focus {
        outline: none;
        border-bottom: 1px solid var(--primary-color);
      }
  
      &:focus ~ .contact-form__label,
      &:not(:placeholder-shown) ~ .contact-form__label {
        top: -1.5rem;
        left: 0;
        font-size: 0.75rem;
        color: var(--primary-color);
      }
    }
  
    &__textarea {
      height: 100px;
    }
  
    &__fieldset {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
  
      label {
        color: var(--white-font-color);
      }
    }
  
    &__button {
      background-color: var(--primary-color);
      color: #fff;
      padding: 0.75rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  
    &__success {
      color: green;
      text-align: center;
      margin-top: 1rem;
    }
  
    &__error {
      color: red;
      text-align: center;
      margin-top: 1rem;
    }
  }
  