.contactForm {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}

.formTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.servicesContainer {
  margin-bottom: 2rem;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.serviceButton {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: var(--primary-color);
    color: #ffffff;
  }

  &.selected {
    background-color: var(--primary-color);
    color: #ffffff;
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.6s linear;
    background-color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
    width: 0;
    height: 0;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}

.inputGroup {
  position: relative;
  margin-bottom: 1.5rem;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0;
  pointer-events: none;
  transition: 0.2s ease all;
  color: var(--white-font-color);
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--background-color);
  border-radius: 0;
  background-color: transparent;
  color: var(--white-font-color);

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--primary-color);
  }

  &:focus ~ .label,
  &:not(:placeholder-shown) ~ .label {
    top: -1.5rem;
    left: 0;
    font-size: 0.75rem;
    color: var(--primary-color);
  }
}

.textarea {
  height: 100px;
}

.fieldset {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  label {
    color: var(--white-font-color);
  }
}

.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.success {
  color: var(--primary-color);
  margin-top: 1rem;
}

.error {
  color: var(--primary-color-dark);
  margin-top: 1rem;
}
