/* Services.module.scss */

.servicesPage {
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--primary-color);
  }

  &__category {
    margin-bottom: 3rem;
  }

  &__categoryTitle {
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px var(--box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    width: calc(33.333% - 2rem); /* Three cards per row with gap */
    max-width: 300px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 12px 24px var(--box-shadow);
    }

    @media (max-width: 768px) {
      width: calc(50% - 2rem); /* Two cards per row on tablets */
    }

    @media (max-width: 480px) {
      width: calc(100% - 2rem); /* One card per row on mobile */
    }
  }

  &__cardContent {
    padding: 1rem;
    text-align: center;
  }

  &__cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid var(--accent-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__cardTitle {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 1rem 0;
  }

  &__cardDescription {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  &__button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--secondary-color-dark);
    }
  }
}
