.servicesPage {
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-family: var(--font-heading);
  }

  &__intro {
    font-size: 1.2rem;
    font-family: var(--font-body);
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }

  &__category {
    margin-bottom: 3rem;
  }

  &__categoryTitle {
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: var(--font-heading);
  }

  &__description {
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
    font-family: var(--font-body);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__moreLink {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: underline;
    font-family: var(--font-body);
    text-align: center;
    width: 100%;
  }
}
