.servicesPage {
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--primary-color);
  }

  &__category {
    margin-bottom: 3rem;
  }

  &__categoryTitle {
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__description {
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__card {
    position: relative;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;

    &__icon {
      font-size: 3rem;
      color: var(--secondary-color);
      margin-bottom: 1rem;
    }

    &__cardContent {
      padding: 1rem;
      text-align: center;
      flex-grow: 1;
    }

    &__cardImage {
      width: 100%;
      height: 60%;
      overflow: hidden;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      flex-shrink: 0;

      .image-element {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__cardTitle {
      font-size: 1.5rem;
      color: var(--primary-color);
      margin: 1rem 0;
      font-weight: 600;
    }

    &__cardDescription {
      font-size: 0.875rem;
      color: var(--text-color);
      line-height: 1.5;
      margin-bottom: 1rem;
    }

    &__button {
      padding: 0.5rem 1rem;
      border-radius: 50px;
      font-size: 0.875rem;
      font-weight: 500;
      background-color: var(--secondary-color);
      color: #fff;
    }
  }
}
