@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Neue+Haas+Grotesk:wght@400;700&display=swap');
$breakpoint-mobile: 768px;


:root {
  --primary-color: #0d283d; /* Deep Blue */
  --secondary-color: #bc8c5a; /* Muted Gold */
  --accent-color: #d4d9de; /* Lux Grey */
  --background-color: #f5f5f5; /* Clean White */
  --text-color: #0d283d; /* Deep Blue */
  --font-heading: 'Quattrocento', serif;
  --font-body: 'Neue Haas Grotesk', sans-serif;
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
  --glass-shadow: rgba(0, 0, 0, 0.2);
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) { @content; }
  }
}

body {
  font-family: var(--font-body);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--primary-color);
}

p {
  font-family: var(--font-body);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--secondary-color);
  }
}
