:root {
  --primary-color: #0d283d; /* Deep Blue */
  --primary-color-dark: #0b2335; /* Darker version of Deep Blue */
  --secondary-color: #BB9778; /* Muted Gold */
  --secondary-color-dark: #997556; /* Darker version of Muted Gold */
  --accent-color: #d4d9de; /* Lux Grey */
  --background-color: #f5f5f5; /* Clean White */
  --text-color: #0d283d; /* Deep Blue */
  --font-heading: 'Quattrocento', serif;
  --font-body: 'Neue Haas Grotesk', sans-serif;
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
  --glass-shadow: rgba(0, 0, 0, 0.2);
  --dropdown-background: #f9f9f9;
  --dropdown-border-color: #e0e0e0;
  --submenu-background: #ffffff;
  --submenu-hover-background: #f0f0f0;
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

body {
  font-family: var(--font-body);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--primary-color);
}
p {
  font-family: var(--font-body);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--secondary-color);
  }
}
