.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--background-color);
}

.infoSection {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.headerText {
  font-size: 2rem;
  color: var(--secondary-color);
}

.socialMediaLinks {
  margin-top: 1rem;

  a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.2rem;

    &:hover {
      color: var(--primary-color-dark);
    }
  }
}

.formSection {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}
