
.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--background-color);
  background-image: url('../../public/pattern1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.infoSection {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.headerText {
  font-size: 2rem;
  color: var(--secondary-color);
}

.additionalInfo {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--text-color);

  span {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bold;
  }
}

.socialMediaLinks {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-color); 
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: #997556; /* Use a manually darkened version of the secondary color */
    }

    .socialIcon {
      color: #fff; /* Icon color white */
    }
  }
}

.formSection {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}

.connectBanner {
  background-image: url('/images/CONNECT/Figma\ Pic.jpg');
  background-size: contain; 
  background-position: center center; 
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
  color: #fff; 
  position: relative;
  margin: 0;
  width: 100%;
  height: auto; 
  min-height: 400px; 
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bannerTitle {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}

.goldText {
  color: var(--secondary-color);
}

.bannerContent {
  max-width: 600px;
  margin: 0 auto;
}

.bannerText {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #fff;
}

.contactInfo {
  background: var(--glass-background);
  border: 1px solid var(--glass-border);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.officeNumber {
  font-size: 1.2em;
  color: #fff;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 100;
}

.scheduleButton {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.scheduleButton:hover {
  background-color: var(--secondary-color-dark);
}