.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--background-color);
  gap: 2rem;
}

.infoSection {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;

  .headerText {
    font-size: 5rem; /* Increased font size */
    font-weight: 100; /* Lighter font weight */
    color: var(--secondary-color);
    margin-bottom: 1.5rem; /* Adequate spacing below */
  }

  .additionalInfo {
    font-size: 1.25rem;
    margin-bottom: 2rem; /* Adequate spacing below */
    color: var(--text-color);

    span {
      color: var(--secondary-color);
      font-style: italic;
      font-weight: bold;
    }
  }

  .socialMediaLinks {
    margin-top: 2rem; /* Adequate spacing above */

    a {
      text-decoration: none;
      margin: 0 0.5rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color: var(--secondary-color); /* Gold background */
      border-radius: 50%;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--secondary-color-dark); /* Darker gold on hover */
      }

      .socialIcon {
        color: #fff; /* White icon */
      }
    }
  }
}

.formSection {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}
