.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.imageContainer {
  text-align: center;
  margin-bottom: 2rem;
}

.contactInfo {
  p {
    margin: 0.5rem 0;
    font-family: var(--font-body);
  }
}

.formContainer {
  width: 100%;
  max-width: 600px;
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.contactForm {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 1rem;
    font-family: var(--font-body);
    color: var(--text-color);
  }

  .input,
  .select,
  .textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.25rem;
    font-family: var(--font-body);
  }

  .textarea {
    height: 100px;
  }

  .fieldset {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    
    label {
      width: 48%;
    }
  }

  .button {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-family: var(--font-body);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}