/* contact.module.scss */
.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-image: url('/pattern1.jpg'); /* Path to your pattern image */
  background-size: cover;
  background-repeat: repeat;
}

.infoSection {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.headerText {
  font-size: 2rem;
  color: var(--secondary-color);
}

.socialMediaLinks {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      color: var(--primary-color-dark);
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.formSection {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}
