
.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--background-color);
  background-image: url('../../public/pattern1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.infoSection {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.headerText {
  font-size: 2rem;
  color: var(--secondary-color);
}

.additionalInfo {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--text-color);

  span {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bold;
  }
}

.socialMediaLinks {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-color); 
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: #997556; /* Use a manually darkened version of the secondary color */
    }

    .socialIcon {
      color: #fff; /* Icon color white */
    }
  }
}

.formSection {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}
