.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--background-color); // Use background color from global styles
}

.infoSection {
  flex: 1 1 40%; // Adjust as needed
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.headerText {
  font-size: 2rem;
  color: var(--gold-color); // Replace with the appropriate gold color variable
}

.socialMediaLinks {
  margin-top: 1rem;

  a {
    color: var(--primary-color); // Use primary color from global styles
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.2rem;

    &:hover {
      color: var(--primary-color-dark); // Use a darker primary color from global styles
    }
  }
}

.formSection {
  flex: 1 1 60%; // Adjust as needed
  display: flex;
  justify-content: center;
}

.formContainer {
  max-width: 600px;
  width: 100%;
  padding: 2rem;
  background-color: var(--form-background-color); // Use form background color from global styles
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Box shadow for subtle depth
  border-radius: 0.5rem; // Border radius for rounded corners
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.textarea {
  height: 100px;
}

.fieldset {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button {
  background-color: var(--primary-color); // Use primary color from global styles
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-color-dark); // Use a darker primary color from global styles
  }
}
