
.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--background-color);
  background-image: url('../../public/pattern1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.infoSection {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.headerText {
  font-size: 2rem;
  color: var(--secondary-color);
}

.additionalInfo {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--text-color);

  span {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bold;
  }
}

.socialMediaLinks {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-color); 
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: #997556; 
    }

    .socialIcon {
      color: #fff; 
    }
  }
}

.formSection {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}

.connectBanner {
  background-image: url('/images/CONNECT/Figma\ Pic.jpg');
  background-size: contain; /* Ensure the whole image fits */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat;
  padding: 40px 20px; /* Increase padding for more spacing */
  text-align: center;
  color: #fff; 
  position: relative;
  margin-top: 2rem;
  width: 100%;
  height: auto; /* Allow height to adjust based on content */
  min-height: 500px; /* Increase minimum height for larger content */
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.bannerTitle {
  font-size: 3em; /* Increase font size for the title */
  margin-bottom: 20px;
  color: #fff;
}

.goldText {
  color: var(--secondary-color);
}

.bannerContent {
  max-width: 800px; /* Allow more space for content */
  margin: 0 auto;
  margin-bottom: 50px; /* Add spacing between sections */
}

.bannerText {
  font-size: 1.5em; /* Increase font size for the text */
  margin-bottom: 30px;
  color: #fff;
}

.contactInfo {
  background: var(--glass-background);
  border: 1px solid var(--glass-border);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px; /* Increase max width to better fit content */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.officeNumber {
  font-size: 1.5em; /* Increase font size for the office number */
  color: #fff;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 100;
}

.scheduleButton {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 15px 30px; /* Increase padding for the button */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.scheduleButton:hover {
  background-color: var(--secondary-color-dark);
}
