.banner {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
    width: 100%;
  }
  
  .bannerContent {
    position: relative;
    z-index: 1;
  }
  
  .contactButton {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
    }
  }
  
  .contactInfo {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .infoItem {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    &:hover {
      background-color: var(--primary-color);
      color: var(--background-color);
    }
  }
  