
  .footer {
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    color: #333;
  }
  
  .socialMedia {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
  }
  
  .icon {
    color: #333;  
    font-size: 24px;  
  }
  
  .footerContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  
  .boldText {
    font-weight: bold;
  }
  
  .section {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .heading {
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  
  .link {
    color: #0077cc;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }