.footer {
  background-color: var(--footer-background-color);
  padding: 2rem;
  color: var(--footer-text-color);
  text-align: center;
  border-radius: 0.5rem; /* Add border-radius */

  .socialMedia {
    margin-bottom: 1rem;

    .icon {
      margin: 0 0.5rem;
      font-size: 1.5rem; /* Adjust the font size to make icons smaller */
      color: var(--footer-icon-color);
      border: 1px solid #ddd; /* Add border */
      border-radius: 50%; /* Make it round */
      padding: 0.5rem; /* Add padding */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
      transition: all 0.3s ease; /* Smooth transition */

      &:hover {
        color: var(--footer-icon-hover-color);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
      }
    }
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    section {
      margin-bottom: 1rem;

      h3 {
        margin-bottom: 0.5rem;
      }

      p,
      a {
        margin: 0.25rem 0;
      }

      a {
        color: var(--footer-link-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyRight {
    margin-top: 1rem;
    font-size: 0.875rem;
  }
}
