.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: #d9d9d9;
  color: #333;
  border-radius: 50px;
  margin: 2rem;

  .footerLeft {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .footerLogo {
      max-width: 150px;
    }
  }

  .footerRight {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    .footerSections {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;

      .footerColumn {
        flex: 1;
        h3 {
          margin-bottom: 0.5rem;
        }
      }
    }

    .footerBottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 0.875rem;

      .footerSocialMedia {
        display: flex;
        gap: 1rem;

        .footerIcon {
          font-size: 2rem; /* Larger icon size */
          color: var(--primary-color); /* Use the blue color from globals */
          transition: color 0.3s;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}
