.footer {
  background-color: var(--footer-background-color);
  padding: 2rem;
  color: var(--footer-text-color);
  text-align: center;
  border-radius: 0.5rem; 

  .socialMedia {
    margin-bottom: 1rem;

    .icon {
      margin: 0 0.5rem;
      font-size: 1.5rem;
      color: var(--footer-icon-color);

      &:hover {
        color: var(--footer-icon-hover-color);
      }
    }
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    section {
      margin-bottom: 1rem;

      h3 {
        margin-bottom: 0.5rem;
      }

      p,
      a {
        margin: 0.25rem 0;
      }

      a {
        color: var(--footer-link-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyRight {
    margin-top: 1rem;
    font-size: 0.875rem;
  }
}
