@use '../styles/mixins.scss' as *;

.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .heroButton {
      @include glassmorphism(rgba(255, 255, 255, 0.1));
      @include button-style(rgba(255, 255, 255, 0.1), #fff, rgba(255, 255, 255, 0.2), #fff);
    }
  }
}

.welcomeSection {
  @include section-padding(2rem);
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;


  .welcomeText {
    text-align: center;

    .welcomeTitle {
      font-size: 4rem;
      color: var(--primary-color);
      margin-bottom: 1rem;
      font-weight: 100;
    }

    .welcomeDescription {
      font-size: 1.2rem;
      color: var(--text-color);
    }

    .welcomeButton {
      @include button-style(transparent, var(--primary-color), var(--primary-color), #fff, 0.5rem 1rem, 1rem);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .welcomeImage {
    text-align: center;


    img {
      max-width: 100%;
      border-radius: 1rem;
      @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    }
  }
}

.missionStatement {
  @include section-padding(2rem);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .bannerImage {
    width: 90%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .textContainer {
    width: 50%;
    color: var(--secondary-color);
    text-align: center;

    .goldLine {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 100;
      color: var(--secondary-color);
    }

    .sectionContent {
      margin: 1rem 0;
      line-height: 1.6;
      color: var(--secondary-color);
    }
  }
}

.services, .teamSection, .testimonials, .callToAction {
  @include section-padding(2rem);
  text-align: center;

  .sectionTitle {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  .sectionContent {
    font-size: 1.2rem;
    color: var(--text-color);
  }
}

.services {
  .servicesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;


    .serviceItem {
      @include glassmorphism(rgba(255, 255, 255, 0.1));
      padding: 1rem;
      text-align: left;

      .serviceTitle {
        font-size: 1.5rem;
        color: var(--primary-color);
      }
      .serviceDescription {
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }
}
.teamSection {
  .teamContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .team {
      text-align: center;
    }

   .articleSection {
      text-align: left;

      
      .articleTitle {
        font-size: 3rem;
        color: var(--secondary-color);
        margin-bottom: 1rem;
        font-weight: 100;
        font: var(font-heading);
      }

      .articleContent {
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }
}

.connectBanner {
  background-image: url('/images/CONNECT/connectBanner.png');
  background-color: var(--primary-color); // Fallback color
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  @include section-padding(20px);
  text-align: center;
  color: var(--secondary-color);
  position: relative;
  margin: 1.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  @include glassmorphism(var(--glass-background), 10px, var(--glass-border), var(--box-shadow));
}

.bannerTitle {
  font-size: 6rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.bannerContent {
  max-width: 37.5rem;
  margin: 0 auto;
}

.bannerText {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.socialLinks {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.socialLink {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s ease;

  &:hover {
    color: var(--secondary-color);
  }
}

.contactInfo {
  @include section-padding(20px);
  margin-top: 20px;
  @include glassmorphism(var(--glass-background), 10px, var(--glass-border), var(--box-shadow));
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.officeNumber {
  font-size: 1.2em;
  color: #fff;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 100;
}

.scheduleButton {
  @include button-style(var(--secondary-color), #fff, var(--secondary-color-dark), #fff);
  margin-left: 20px;
}

.magazineSection {
    padding: 2rem;
    background-color: var(--secondary-color); 
    background-image: url('/images/CONNECT/Pattern.jpg'), linear-gradient(135deg, rgba(255, 192, 203, 0.4), rgba(173, 216, 230, 0.4));
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border-radius: 20px;
    text-align: center;

    .glassmorphicContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background: rgba(255, 255, 255, 0.3); 
      border-radius: 20px;
      padding: 2rem;
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
      }
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .magazineArticle {
      flex: 1;
      padding: 0 2rem;
      text-align: left;
  
      .magazineImage {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      .magazineTitle {
        font-size: 1.5rem;
        color: var(--primary-color);
        margin: 0.5rem 0;
      }
  
      .magazineDescription {
        font-size: 1rem;
        color: var(--text-color);
        margin-bottom: 1rem;
      }
      .learnMoreButton {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        color: #ffffff;
        background-color: var(--primary-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
      
        &:hover {
          transform: scale(1.05);
          background-color: var(--primary-color-dark); 
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
        }
      
        &:active {
          transform: scale(0.98); 
          background-color: var(--primary-color-darker); 
        }
      
      
        position: relative;
        overflow: hidden;
      
        &::after {
          content: "";
          position: absolute;
          width: 300%;
          height: 300%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          background: rgba(255, 255, 255, 0.2);
          border-radius: 50%;
          transition: transform 0.5s ease;
        }
      
        &:active::after {
          transform: translate(-50%, -50%) scale(1);
          transition: transform 0.3s ease;
        }
      }
    }

    .verticalDivider {
      width: 2px;
      background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
      margin: 0 2rem;
  
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

.testimonials {
  .testimonialItem {
    @include glassmorphism(rgba(255, 255, 255, 0.1), 10px);
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);

    cite {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: var(--secondary-color);
    }
  }
}

.callToAction {
  .ctaButton {
    @include glassmorphism(rgba(255, 255, 255, 0.1), 10px);
    @include button-style(rgba(255, 255, 255, 0.1), #fff, rgba(255, 255, 255, 0.2), #fff);
  }
}

.footerImage {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.imageBanner {
  margin-top: 2rem;
  text-align: center;

  img {
    max-width: 85%;
    height: auto;
    border-radius: 0.5rem;
  }
}