$almond-milk: #f5f5dc;
$honied-white: #fbf7ef;
$dark-gray: #333;
$medium-gray: #666;

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $honied-white;
}

.header {
  background-color: $almond-milk;
  padding: 0 20px;
  color: $dark-gray;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: $dark-gray;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.navbar a:hover {
  text-decoration: underline;
}

.link {
  color: $dark-gray;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 20px;
}

.heroTitle {
  font-size: 2rem;
  color: #333;
}

.heroTagline {
  font-size: 1.2rem;
  color: #666;
}

.missionStatement {
  margin-top: 40px;
  padding: 1rem;
  color: $dark-gray;
}

.sectionTitle {
  font-weight: bold;
  color: #333;
}

.sectionContent {
  font-size: 1rem;
  color: #444;
}

@media (max-width: 768px) {
  .navbar div {
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    margin: 10px 0;
  }
}

.services, .testimonials, .callToAction {
  margin-top: 40px;
  padding: 20px;
  background-color: $honied-white;
  color: $dark-gray;
}

.servicesList, .testimonialItem {
  display: flex;
  justify-content: space-between;
}

.serviceItem {
  flex: 1;
  margin-right: 20px;
}

.ctaButton {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

.ctaButton:hover {
  background-color: darken(#0077cc, 10%);
}

.footerImage img {
  width: 100%;
  height: auto;
}