.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('/images/Shiny\ Diamond.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassBox {
  background: var(--glass-background);
  border: 1px solid var(--glass-border);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--glass-shadow);
  backdrop-filter: blur(10px);
  padding: 2rem;
  text-align: center;
  color: var(--text-color);
}

.heroTitle {
  font-family: var(--font-heading);
  color: var(--primary-color);
  margin: 0;
}

.heroTagline {
  font-family: var(--font-body);
  color: var(--text-color);
  margin: 0.5rem 0 0 0;
}

.missionStatement, .services, .testimonials, .callToAction {
  padding: 2rem;
  text-align: center;
}
.differentButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.imageContent {
  max-width: 50%;
}

.missionImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  font-family: var(--font-heading);
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.sectionContent, .servicesList, .testimonialItem {
  font-family: var(--font-body);
  color: var(--text-color);
}

.servicesList {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.serviceItem {
  width: 30%;
}

.callToAction {
  background-color: var(--secondary-color);
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.ctaButton {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: var(--font-body);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--accent-color);
  }
}

.footerImage img {
  width: 100%;
  height: auto;
  display: block;
}
