.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url('/images/IMG_3948.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassBox {
  background: var(--glass-background);
  border: 1px solid var(--glass-border);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--glass-shadow);
  backdrop-filter: blur(10px);
  padding: 2rem;
  text-align: center;
  color: var(--text-color);
}

.heroTitle {
  font-family: var(--font-heading);
  color: var(--primary-color);
  margin: 0;
}

.heroTagline {
  font-family: var(--font-body);
  color: var(--text-color);
  margin: 0.5rem 0 0 0;
}

.consultButton {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: var(--font-body);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.missionStatement {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: left;
}

.missionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.textContent {
  max-width: 50%;
}

.welcomeTitle {
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: 2rem;
}

.differentButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.imageContent {
  max-width: 50%;
}

.missionImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 2rem;
  text-align: center;
}

.bannerTitle {
  font-family: var(--font-heading);
    font-size: 5.75rem;
    margin: 0;
    color: var(--secondary-color);
    font-weight: 100;
}

.bannerSubtitle {
  font-family: var(--font-body);
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--secondary-color);
}

.description {
  padding: 2rem;
  text-align: left;
}

.descriptionText {
  font-family: var(--font-body);
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.services, .testimonials, .callToAction {
  padding: 2rem;
  text-align: center;
}

.sectionTitle {
  font-family: var(--font-heading);
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.sectionContent, .servicesList, .testimonialItem {
  font-family: var(--font-body);
  color: var(--text-color);
}

.servicesList {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.serviceItem {
  width: 30%;
}

.callToAction {
  background-color: var(--secondary-color);
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.ctaButton {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: var (--font-body);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--accent-color);
  }
}

.footerImage img {
  width: 100%;
  height: auto;
  display: block;
}
