
.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .heroButton {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: #fff;
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.welcomeSection {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--background-color);

  .welcomeText {
    flex: 1;
    text-align: center;

    .welcomeTitle {
      font-size: 4rem;
      color: var(--primary-color);
      margin-bottom: 1rem;
      font-weight: 100;
    }

    .welcomeDescription {
      font-size: 1.2rem;
      color: var(--text-color);
    }

    .welcomeButton {
      position: relative;
      overflow: hidden;
      background: transparent;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      font-size: 1rem;
      cursor: pointer;
      padding: 0.5rem 1rem;
      text-align: center;
      width: 10rem;
      max-width: 200px;
      border-radius: 2rem;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      margin-top: 1rem;

      &:hover {
        background-color: var(--primary-color); // Match primary color for background on hover
        color: #ffffff; // Change text color to white on hover
      }

      .ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: ripple 0.6s linear;
        background-color: rgba(255, 255, 255, 0.7); // Ripple color
        pointer-events: none;
        width: 0;
        height: 0;
      }

      @keyframes ripple {
        to {
          transform: scale(4);
          opacity: 0;
        }
      }
    }
  }

  .welcomeImage {
    flex: 1;
    text-align: center;

    img {
      max-width: 100%;
      border-radius: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.missionStatement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0;

  .bannerImage {
    width: 90%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    color: var(--secondary-color); /* Use the muted gold color from the global theme */

    .goldLine {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: var(--secondary-color); /* Use the muted gold color from the global theme */
    }

    .sectionContent {
      margin: 1rem 0;
      line-height: 1.6;
      color: var(--secondary-color); /* Apply the muted gold color to the paragraphs */
    }
  }
}

.services, .teamSection, .testimonials, .callToAction {
  padding: 2rem;
  text-align: center;

  .sectionTitle {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  .sectionContent {
    font-size: 1.2rem;
    color: var(--text-color);
  }
}

.services {
  .servicesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .serviceItem {
      flex: 1 1 30%;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      padding: 1rem;
      text-align: left;

      .serviceTitle {
        font-size: 1.5rem;
        color: var(--primary-color);
      }

      .serviceDescription {
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }
}

.teamSection {
  .teamContent {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .team {
      flex: 1;
    }

    .articleSection {
      flex: 1;

      .articleTitle {
        font-size: 3rem;
        color: var(--secondary-color);
        margin-bottom: 1rem;
        font-weight: 100;
        font: var(font-heading);
        text-align: left;

      }

      .articleContent {
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }
}

.connectBanner {
  background-image: url('../../public/images/CONNECT/1.png');
  background-size: cover; 
  background-position: right center; 
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
  color: var(--secondary-color); 
  position: relative;
  margin: 1.25rem; 
  border-radius: 1.25rem; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.bannerTitle {
  font-size: 6rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.bannerContent {
  max-width: 37.5rem;
  margin: 0 auto;
}

.bannerText {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.socialLinks {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.socialLink {
  color: #fff;
  font-size: 1.5em; 
  transition: color 0.3s ease;
}

.socialLink:hover {
  color: var(--secondary-color); 
}

.contactInfo {
  margin-top: 20px;
}

.officeNumber {
  color: var(--secondary-color); 
  font-size: 1.5em;
  margin-bottom: 10px;
}

.scheduleButton {
  color: #fff;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.scheduleButton:hover {
  background-color: #ff9900; 
}

.contactInfo {
  background: var(--glass-background);
  border: 1px solid var(--glass-border);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.officeNumber {
  font-size: 1.2em;
  color: #fff;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 100;
}

.scheduleButton {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.scheduleButton:hover {
  background-color: var(--secondary-color-dark);
}


.magazineSection {
  padding: 2rem;
  background-color: var(--secondary-color); /* Gold Background */
  background-image: url('/images/CONNECT/Pattern (1).jpg'), linear-gradient(135deg, rgba(255, 192, 203, 0.4), rgba(173, 216, 230, 0.4));
  background-size: cover; /* Ensure the pattern covers the entire section */
  background-repeat: no-repeat; /* Prevent the pattern from repeating */
  background-position: center center; /* Center the pattern */
  border-radius: 20px;
  text-align: center;

  .glassmorphicContainer {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3); /* Glassmorphism effect */
    border-radius: 20px;
    padding: 2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
  }

  .magazineArticle {
    flex: 1;
    padding: 0 2rem;
    text-align: left;

    .magazineImage {
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 1rem;
    }

    .magazineTitle {
      font-size: 1.5rem;
      color: var(--primary-color);
      margin: 0.5rem 0;
    }

    .magazineDescription {
      font-size: 1rem;
      color: var(--text-color);
    }
  }

  .verticalDivider {
    width: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
  }

  .learnMoreButton {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color); /* Use the blue provided in the globals */
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--primary-color-dark); /* Darker blue on hover */
    }
  }
}

.testimonials {
  .testimonialItem {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);

    cite {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: var(--secondary-color);
    }
  }
}

.callToAction {
  .ctaButton {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.footerImage {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.imageBanner {
  margin-top: 2rem; /* Add spacing above the banner */
  text-align: center;

  img {
    max-width: 85%;
    height: auto;
    border-radius: 0.5rem;
  }
}
