$almond-milk: #f5f5dc; 
$honied-white: #fbf7ef; 

.body-background {
  background-color: $almond-milk;
}

.header {
  background-color: $honied-white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
}

.nav-links {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin-left: 20px;
  }

  .dropdown-button {
    background-color: #ffeabc; 
    border: none;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: #f0c678; 
    }
  }
}