@use '../styles/mixins.scss' as *;


.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #000;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

    &__button {
      @include glassmorphism(rgba(255, 255, 255, 0.1));
      @include button-style(rgba(255, 255, 255, 0.1), #fff, rgba(255, 255, 255, 0.2), #fff);
    }
  }
  
  @include mobile {
    height: 70vh;

    &__content {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  @include tablet {
    height: 80vh;

    &__content {
      font-size: 1.5rem;
    }
  }
}

.welcomeSection {
  display: grid;
  grid-template-columns: 1fr 1fr; // Two columns for text and image
  align-items: center;
  gap: 3rem;
  padding: 4rem 2rem;
  background-color: var(--background-color); // Background color for the section

  .welcomeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .welcomeTitle {
      font-size: 3.5rem;
      color: var(--primary-color);
      margin-bottom: 1rem;
      font-weight: 700;
      text-transform: uppercase; // Modern and bold effect
    }

    .welcomeDescription {
      font-size: 1.2rem;
      line-height: 1.6;
      color: var(--text-color);
      margin-bottom: 2rem;
    }

    .welcomeButton {
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      color: white;
      background-color: var(--primary-color);
      border-radius: 8px;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none; 
      transition: all 0.3s ease;
    
      &:hover {
        background-color: var(--primary-color-dark);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .welcomeImage {
    text-align: right; // Align the image to the right side
    img {
      border-radius: 10px; // Rounded corners for a modern effect
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); // Soft shadow
      max-width: 100%;
      height: auto;
    }
  }

  @include mobile {
    grid-template-columns: 1fr; // Stack the image and text on mobile
    text-align: center;

    .welcomeText {
      text-align: center;
    }

    .welcomeImage {
      img {
        width: 80%; // Scale down the image on mobile
      }
    }
  }
}

.missionStatement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-background-color); // Different background for the banner
  padding: 4rem 2rem;
  text-align: center;

  .bannerImage {
    width: 100%;
    max-width: 1200px; // Keep the image size reasonable
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .textContainer {
    max-width: 800px;
    color: var(--secondary-color);

    .goldLine {
      font-size: 2rem;
      color: var(--accent-color);
      margin-bottom: 1rem;
    }

    .sectionContent {
      font-size: 1.4rem;
      line-height: 1.7;
      color: var(--text-color);
    }
  }

  @include mobile {
    padding: 3rem 1.5rem;

    .textContainer {
      font-size: 1.2rem;
    }
  }
}

.services {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    &__item {
      @include glassmorphism(rgba(255, 255, 255, 0.1));
      padding: 1rem;
      text-align: left;

      &__title {
        font-size: 1.5rem;
        color: var(--primary-color);
      }

      &__description {
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }

  @include mobile {
    &__list {
      grid-template-columns: 1fr;
    }
  }

  @include tablet {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}

.teamSection {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--light-grey);
  border-radius: 1.25rem;

  .teamContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .team {
    flex: 3;
  }

  .articleSection {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 2rem; // Adjust as necessary
    font-weight: bold;
    text-align: center;

    @include tablet {
      align-self: stretch;
      text-align: left;
      padding: 0 2rem;
    }
  }
}



.banner {
  background-image: url('/images/CONNECT/connectBanner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--fallback-color);
  margin: 1.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  height: 400px;
  text-align: center;
  color: var(--secondary-color);
  position: relative;

  &__title {
    font-size: 6rem;
    margin-bottom: 10px;
    color: var(--secondary-color);
  }

  &__content {
    max-width: 37.5rem;
    margin: 0 auto;
  }

  &__text {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--secondary-color);
  }

  &__social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }

  &__social-link {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;

    &:hover {
      color: var(--secondary-color);
    }
  }

  &__contact-info {
    padding: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &__office-number {
      font-size: 1.2em;
      color: #fff;
      margin: 0;
      font-family: var(--font-body);
      font-weight: 100;
    }

    &__schedule-button {
      display: inline-block;
      background-color: var(--primary-color);
      color: #fff;
      padding: 0.75rem 2rem;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  }

  @include mobile {
    height: 300px;
    padding: 1rem;
    margin: 0.5rem;

    &__title {
      font-size: 2.5rem;
      margin-bottom: 5px;
    }

    &__text {
      font-size: 1rem;
    }

    &__contact-info {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      &__office-number {
        font-size: 1rem;
      }

      &__schedule-button {
        padding: 0.5rem 1.5rem;
      }
    }

    &__social-links {
      gap: 10px;

      &__social-link {
        font-size: 1.2em;
      }
    }
  }

  @include tablet {
    height: 350px;
    padding: 1.5rem;

    &__title {
      font-size: 4rem;
    }

    &__text {
      font-size: 1.1em;
    }

    &__contact-info {
      &__office-number {
        font-size: 1.1rem;
      }

      &__schedule-button {
        padding: 0.6rem 1.75rem;
      }
    }

    &__social-links {
      gap: 12px;

      &__social-link {
        font-size: 1.3em;
      }
    }
  }

  @include desktop {
    height: 400px;
    padding: 2rem;

    &__title {
      font-size: 6rem;
    }

    &__text {
      font-size: 1.2em;
    }

    &__contact-info {
      &__office-number {
        font-size: 1.2rem;
      }

      &__schedule-button {
        padding: 0.75rem 2rem;
      }
    }

    &__social-links {
      gap: 15px;

      &__social-link {
        font-size: 1.5em;
      }
    }
  }
}
