.teamMember {
    background-color: var(--light-background);
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    &:hover .bio {
      max-height: 500px; 
      opacity: 1;
    }
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin-bottom: 1rem;
  
    .image {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
  .teamInfo {
    .name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: var(--secondary-color);
    }
  
    .position {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: var(--text-color);
    }
  
    .bio {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      text-align: left;
      margin-top: 0.5rem;
      color: var(--text-color);
  
      p {
        margin-bottom: 0.5rem;
        line-height: 1.5;
      }
    }
  }
  
  .doctor {
    grid-column: span 2;
    padding: 1.5rem;
  
    .imageContainer {
      max-width: 300px;
      height: 400px;
  
      .image {
        border-radius: 8px;
      }
    }
  
    .teamInfo {
      .name {
        font-size: 1.5rem;
      }
  
      .position {
        font-size: 1.2rem;
      }
  
      .bio {
        max-height: none;
        opacity: 1;
      }
    }
  
    &:hover .bio {
      max-height: none;
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .doctor {
      grid-column: span 1;
  
      .imageContainer {
        max-width: 200px;
        height: 300px;
      }
    }
  }
  