/* components/TeamMember/TeamMember.module.scss */

.teamMember {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: stretch;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--light-background);
    border-left: 4px solid var(--primary-color);
    margin-bottom: 2rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--light-background-hover); 
    }
  
    @media (max-width: 768px) {
        .teamMember {
          text-align: left;
          padding: 1rem;
        }
      }
  }
  
  .imageContainer {
    height: 100%;
    position: relative;
  }
  
  .image {
    object-fit: cover;
    object-position: center;
  }
  
  .reverse {
    grid-template-columns: 1fr 2fr;
  
    .imageContainer {
      order: 1;
    }
  
    .teamText {
      order: 2;
    }
  }
  
  .teamText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .name {
      font-size: 1.6rem;
      color: var(--secondary-color);
      margin-bottom: 0.5rem;
  
      @media (max-width: 768px) {
        font-size: 1.4rem;
      }
  
      @media (max-width: 480px) {
        font-size: 1.2rem;
      }
    }
  
    .position {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  
    .bio {
      margin-bottom: 1.5rem;
      line-height: 1.6;
      font-size: 1rem;
      color: var(--text-color);
  
      @media (max-width: 768px) {
        font-size: 0.95rem;
      }
  
      @media (max-width: 480px) {
        font-size: 0.85rem;
      }
    }
  }
  