.service-page {
  padding: 2.5rem 1.25rem;
  max-width: 56.25rem;
  margin: 1.25rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  text-align: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__articles {
    flex: 1;
    margin-right: 1.25rem;
    text-align: left;
  }

  &__image-slider {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }

  &__header {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
    font-family: var(--font-heading);
    color: var(--primary-color);
  }

  &__subheader {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    font-family: var(--font-heading);
    color: var(--primary-color);
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5625rem;
    font-family: var(--font-body);
    color: var(--text-color);
  }

  &__list {
    text-align: left;
    padding-left: 1.25rem;
    margin-bottom: 1.875rem;

    &__item {
      margin-bottom: 0.625rem;
    }
  }

  .slider__main-image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }

  .slider__thumbnails {
    display: flex;
    justify-content: center;
    gap: 0.625rem;

    .thumbnail {
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.3s ease;
      border-radius: 0.25rem;
      overflow: hidden;

      &:hover {
        opacity: 1;
      }

      img {
        width: 100px;
        height: 75px;
        object-fit: cover;
      }
    }
  }

  .slider__next-button {
    margin-top: 0.625rem;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  &__contact-button {
    display: inline-block;
    margin-top: 1.875rem;
    padding: 0.75rem 1.5625rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.3125rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  &__image-placeholder {
    width: 100%;
    height: 15.625rem;
    margin: 1.875rem 0;
    background-color: #e0e0e0;
    border-radius: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 1.2rem;
  }
}
