.service-page {
  padding: 2.5rem 1.25rem;
  max-width: 56.25rem;
  margin: 1.25rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  text-align: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__articles {
    flex: 1;
    margin-right: 1.25rem;
    text-align: left;
  }

  &__image-slider {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
    font-family: var(--font-heading);
    color: var(--primary-color);
  }

  &__subheader {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    font-family: var(--font-heading);
    color: var(--primary-color);
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5625rem;
    font-family: var(--font-body);
    color: var(--text-color);
  }

  &__list {
    text-align: left;
    padding-left: 1.25rem;
    margin-bottom: 1.875rem;

    &__item {
      margin-bottom: 0.625rem;
    }
  }

  .slider__main-image {
    width: 100
  }
}