.service-page {
  padding: 2.5rem 1.25rem;
  max-width: 56.25rem;
  margin: 1.25rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__articles {
    width: 100%;
    text-align: left;
  }

  &__image-inline {
    margin: 1.875rem 0;
    width: 100%;
    max-width: 400px; /* Adjust the maximum width */
    transition: transform 0.3s ease; /* Add transition effect */

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.05); /* Scale up slightly on hover */
    }
  }

  &__header {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
    font-family: var(--font-heading);
    color: var(--primary-color);
  }

  &__subheader {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    font-family: var(--font-heading);
    color: var(--primary-color);
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5625rem;
    font-family: var(--font-body);
    color: var(--text-color);
  }

  &__list {
    padding-left: 1.25rem;
    margin-bottom: 1.875rem;

    &__item {
      margin-bottom: 0.625rem;
    }
  }

  &__contact-button {
    display: inline-block;
    margin-top: 1.875rem;
    padding: 0.75rem 1.5625rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.3125rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}
