$primary-color: #4a4a4a; // Dark gray
$primary-color-hover: #2a2a2a; // Darker gray
$text-color: #333; // Dark text color
$subheader-color: #555;
$background-color: #f5f5f5;

$cosmetic-bg: #f9f9f9;
$preventative-bg: #fafafa;
$restoration-bg: #f7f7f7;

.service-page {
  padding: 40px 20px;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: $background-color;
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__articles {
    flex: 1;
    margin-right: 20px;
  }

  &__image-slider {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: $primary-color;
  }

  &__subheader {
    font-size: 1.75rem;
    margin-bottom: 20px;
    color: $subheader-color;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
    color: $text-color;
    text-align: left;
  }

  &__list {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 30px;

    &__item {
      margin-bottom: 10px;
    }
  }

  &--cosmetic {
    background-color: $cosmetic-bg;
    border: 1px solid #ddd; // Light gray border
  }

  &--preventative {
    background-color: $preventative-bg;
    border: 1px solid #eee; // Lighter gray border
  }

  &--restoration {
    background-color: $restoration-bg;
    border: 1px solid #ccc; // Gray border
  }
  .slider__main-image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .slider__thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .thumbnail {
      margin: 0 5px;
      cursor: pointer;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }

      img {
        width: 50px;
        height: auto;
      }
    }
  }

  .slider__next-button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }

  &__contact-button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-color-hover;
    }
  }

  &__image-placeholder {
    width: 100%;
    height: 250px;
    margin: 30px 0;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $subheader-color;
    font-size: 1.2rem;
  }
}
