.service-page {
  width: 100%;
  overflow-x: hidden;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-body);

  &--cosmetic {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  &__header {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
  }

  &__content {
    width: 100%;
    max-width: 1200px;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  &__text {
    margin-bottom: 1.5rem;
    font-family: var(--font-body);
  }

  &__subheader {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: var(--font-heading);
  }

  &__list {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;

    &__item {
      margin-bottom: 0.75rem;
    }
  }

  &__image-inline {
    width: 80%; /* Reduced width */
    max-width: 800px; /* Max width to keep the image responsive */
    margin: 1.5rem auto; /* Centering the image and adjusting margins */
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%; /* Ensuring the image fits within its container */
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &__contact-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--primary-color-dark);
    }
  }
}
