.button {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-family: var(--font-body);
  font-weight: 600;

  &:focus {
    outline: 2px solid var(--primary-color-dark);
    outline-offset: 2px;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  /* Ripple Effect */
  .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    animation: ripple 0.6s linear;
    pointer-events: none;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}

/* Primary Variant */
.primary {
  background-color: var(--primary-color); /* Deep Blue */
  color: #fff; /* White font */

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

/* Secondary Variant */
.secondary {
  background-color: var(--accent-color); /* Lux Grey */
  color: var(--secondary-color); /* Muted Gold font */

  &:hover {
    background-color: var(--accent-color-light); /* Light Lux Grey for hover */
  }
}
