.button {
    position: relative;
    overflow: hidden;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 10rem;
    max-width: 200px;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: .5rem;
  
    &:hover {
      background-color: var(--primary-color); // Match primary color for background on hover
      color: #ffffff; // Change text color to white on hover
    }
  
    .ripple {
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 0.6s linear;
      background-color: rgba(255, 255, 255, 0.7); // Ripple color
      pointer-events: none;
      width: 0;
      height: 0;
    }
  
    @keyframes ripple {
      to {
        transform: scale(4);
        opacity: 0;
      }
    }
  }
  