.banner {
    background-color: var(--primary-color); // Deep Blue
    color: var(--background-color); // Clean White
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
  
    &Content {
      max-width: 800px;
      margin: 0 auto;
    }
  
    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    .description {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
  
    .buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
  
      .button {
        background-color: var(--secondary-color); // Muted Gold
        color: var(--primary-color); // Deep Blue
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.5rem;
        text-decoration: none;
        font-size: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
        &:hover {
          background-color: var(--accent-color); // Lux Grey
          color: var(--background-color); // Clean White
        }
      }
  
      .phone {
        color: var(--background-color); // Clean White
        font-size: 1rem;
        text-decoration: none;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--background-color); // Clean White
        transition: background-color 0.3s ease, color 0.3s ease;
  
        &:hover {
          background-color: var(--background-color); // Clean White
          color: var(--primary-color); // Deep Blue
        }
      }
    }
  }
  