.accordion {
  display: flex;
  
  overflow: hidden;
  
  background-color: var(--light-grey);
  border-radius: 20px;
}

.card {
  flex: 1;
  position: relative;
  height: 25rem;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: flex 0.5s ease;
  margin: 0 0.5rem;

  &.active {
    flex: 4;
    margin: 0 1rem;
  }

  &:not(.active) {
    flex: 1;
  }
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  transition: filter 0.4s ease-in-out, transform 0.4s ease;
  z-index: 1;

  &:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
  }
}

.cardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  color: #ffffff;
  background: none;
  text-align: center;
  overflow: hidden;
  white-space: normal;

  .cardTitle {
    font-family: var(--font-heading);
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  .cardSubtitle {
    font-family: var(--font-body);
    font-size: 1rem;
    color: #ffffff;
  }

  .cardDescription {
    font-family: var(--font-body);
    font-size: 0.8rem;
    line-height: 1.2;
    color: #ffffff;
    max-height: 2rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    .card.active & {
      max-height: none;
      white-space: normal;
    }
  }
}

@media (max-width: 768px) {
  .accordion {
    flex-direction: column;
  }

  .card {
    margin-bottom: 1.5rem;
    height: 20rem;
  }

  .cardContent {
    padding: 0.5rem;

    .cardTitle {
      font-size: 1.2rem;
    }

    .cardSubtitle,
    .cardDescription {
      font-size: 0.7rem;
    }
  }
}
