
.accordion {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;

  &__item {
    flex: 0 0 10%;
    transition: flex 0.5s ease-in-out, height 0.5s ease-in-out;
    overflow: hidden;
    margin: 0 0.5rem;
    cursor: pointer;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 20rem; // Set height using rem
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    &.inactive {
      flex: 0 0 10%;
      height: 20rem; // Maintain height for pill size
    }

    &.active {
      flex: 1;
      height: 20rem; // Keep height consistent when active
      z-index: 2;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }

  &__name {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 0.875rem;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 0.75rem;
    color: var(--text-color);
  }
}

