.accordion {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;

  &__item {
    flex: 0 0 10%;
    transition: flex 0.5s ease-in-out;
    overflow: hidden;
    margin: 0 0.5rem;
    cursor: pointer;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 20rem; // Set height using rem
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.inactive {
      flex: 0 0 10%;
      height: 20rem; // Maintain height for pill size
    }

    &.active {
      flex: 1;
      height: 20rem; // Keep height consistent when active
      z-index: 2;
    }
  }

  &__header {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.5s ease-in-out;
  }

  &__body {
    display: none;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 1rem 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.show {
      display: block;
      opacity: 1;
    }
  }

  &__name {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 0.875rem;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 0.75rem;
    color: var(--text-color);
  }
}
