.accordion {
  display: flex;
  overflow: hidden;
}

.card {
  flex: 1;
  transition: flex 0.5s ease;
  position: relative;
  height: 25rem; /* Adjust height as needed */
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px; /* Adjust spacing as needed */
  cursor: pointer;
  background: transparent; /* Clear background */

  &.active {
    flex: 3;
  }

  &:not(.active) {
    flex: 1;
  }
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  transition: filter 0.3s ease;
}

.cardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white; 
  transition: background 0.5s ease;
  

  h3 {
    margin: 0;
    font-size: 1.5rem;
    color: white; /* Font color white */
  }

  p {
    margin: 0.5rem 0 0 0;
    font-size: 0.5rem;
    color: white;
    overflow:auto;
  }
}

.cardTitle {
  font-family: var(--font-heading);
  color: white; /* Font color white */
}

.cardSubtitle {
  font-family: var(--font-body);
  color: white; /* Font color white */
}

.cardDescription {
  font-family: var(--font-body);
  color: white; /* Font color white */
}
