.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin: 1rem;
  padding: 1rem;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    max-width: 45%; /* 2 cards per row on smaller screens */
  }

  @media (max-width: 480px) {
    max-width: 100%; /* 1 card per row on mobile */
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .cardImage {
    width: 100%;
    height: 150px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.1); /* Zoom in on hover */
    }
  }

  .cardTitle {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }

  .cardDescription {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--secondary-color-dark);
    }
  }
}
