.serviceCard {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: var(--background-color);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 600px; /* Optional max-width for desktop */
  margin: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover,
  &:focus {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.cardImage {
  width: 50%;
  height: auto;
  position: relative;
  overflow: hidden;

  .image-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 200px; /* Adjust height for mobile if needed */
  }
}

.cardContent {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
  }

  .cardTitle {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .cardDescription {
    font-size: 1rem;
    color: var(--text-color);
    font-family: var(--font-body);
    margin-bottom: 1rem;
  }

  .button {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-body);
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: rgba(255, 215, 0, 0.8); /* Adjusted color for hover effect */
    }
  }
}
