/* AboutUs.module.scss */

.aboutContainer {
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
}

.subtitle {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.teamMember {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  
  &:nth-child(even) .teamText {
    order: -1;
  }
}

.image {
  border-radius: 10px;
  margin: 0 1.5rem;
}

.teamText {
  flex: 1;
  max-width: 600px;

  .name {
    font-size: 1.75rem;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
  }

  .position {
    font-weight: bold;
  }

  .bio {
    margin-bottom: 1rem;
  }
}
