.aboutContainer {
  padding: 2rem;
  background-color: var(--light-background);

  .title {
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }

  .text {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-light);
    margin-top: 0;
  }

  .subtitle {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .doctorsRow {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-wrap: nowrap; 
    }
  }

  .staffGrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .teamMember {
    padding: 1.5rem;
    background-color: var(--light-background);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover,
    &:focus {
      transform: translateY(-5px);
    }

    .imageContainer {
      position: relative;
      width: 100%;
      max-width: 200px;
      height: 200px;
      margin-bottom: 1rem;

      .image {
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .name {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--secondary-color);
      margin-bottom: 0.5rem;
    }

    .position {
      font-size: 1rem;
      color: var(--text-color);
    }
  }
}
