.ourOffice {
  text-align: center;
  padding: 2rem;

  .sectionTitle {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  .officeImages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .imageContainer {
      position: relative;
      width: 200px;
      height: 200px;
      cursor: pointer;
      overflow: hidden;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &.enlarged {
        transform: scale(2); /* Make the image twice as big */
      }

      .officeImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      .imageOverlay {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;

        &.noBorder {
          border: none;
          box-shadow: none;
        }

        &:hover .plusIcon {
          transform: rotate(45deg);
        }
      }

      .plusIcon {
        font-size: 1.5rem;
        transition: transform 0.3s ease;
      }
    }
  }
}
