.ourOffice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;

  .imagesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%; 
    padding: 0 2rem;

    .sectionTitle {
      font-size: 2.5rem;
      color: var(--secondary-color);
      margin-bottom: 1rem;
      font-family: var(--font-heading); 
    }

    .sectionBody {
      font-size: 1.2rem;
      color: var(--secondary-color);
    }
  }

  .imagesSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%; 
    gap: 2rem;
    position: relative; 

    .imageContainer {
      position: relative;
      width: 150%; 
      height: 18.75rem; 
      cursor: pointer;
      overflow: hidden;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: width 0.2s ease-out, transform 0.2s ease-out, z-index 0.2s ease-out; /* Smooth transition */
      z-index: 1;

      &:hover {
        width: 700%; 
        z-index: 10;
      }

      &:hover ~ .imageContainer {
        width: 130%; /* Shrink the adjacent image */
      }

      .officeImage {
        width: 100%;
        height: 100%; /* Ensure the image covers the container */
        object-fit: cover; /* Ensure the image covers the entire container */
        border-radius: 0.75rem;
        transition: transform 0.3s ease-out; /* Smooth transition for the image */
      }

      .imageOverlay {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;

        &.noBorder {
          border: none;
          box-shadow: none;
        }

        &:hover .plusIcon {
          transform: rotate(45deg);
        }
      }

      .plusIcon {
        font-size: 1.5rem;
        transition: transform 0.3s ease;
      }
    }
  }
}
