.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dropdown {
  position: relative;

  .button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #0077cc;
    color: white;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;

    &:hover {
      background-color: #005fa3;
    }
  }

  .dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -26rem;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    min-width: 45rem;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 3rem;
    list-style-type: none;
    margin: 0;
    display: flex;

    .category {
      flex: 1 1 30%;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .categoryTitle {
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #333;
      }

      .serviceList {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .serviceItem {
          padding: 0.5rem 0;

          a {
            color: black;
            text-decoration: none;
            display: block;

            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
      }
    }
  }

  &.open .dropdownMenu {
    display: flex;
  }
}