.dropdown {
  position: relative;
}


.button {
  background: none;
  border: none;
  color: #333;
  font: inherit;
  padding: 10px 20px;
  margin: 0 15px; 
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.dropdownContent {
  position: absolute;
  top: 100%;  
  left: 0;
  z-index: 1000; 
  background: white; 
  width: 100%; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.dropdownContent {
  display: none; 
}
.dropdownContent.show {
  display: block; 
}


.dropdownColumn {
  margin: 10px;
  padding: 10px;
  border-left: 2px solid #ccc; 
}

.dropdownColumn:first-child {
  border-left: none; 
}

.dropdownHeader {
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; 
}

.dropdownList {
  list-style: none;
  padding: 0;
}

.dropdownItem {
  padding: 5px 0;
  line-height: 1.5;
}

.dropdownItem a {
  text-decoration: none;
  color: #333;
}

.dropdownItem:hover a {
  text-decoration: underline;
}