.dropdownContainer {
  position: relative;
}

.button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--primary-color);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;

  &.open {
    max-height: 15rem;
  }

  .category {
    padding: 1rem;

    .categoryTitle {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: var(--primary-color);
    }

    .serviceList {
      list-style: none;
      padding: 0;
      margin: 0;

      .serviceItem {
        padding: 0.5rem 0;

        a {
          text-decoration: none;
          color: var(--primary-color);
          display: block;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}
