.dropdown {
  .button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #0077cc;
    color: white;
    border-radius: 4px;

    &:hover {
      background-color: #005fa3;
    }
  }

  .modal {
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); // Overlay background
  }

  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 4px;

    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}