// Dropdown.module.scss
.dropdown-container {
  position: relative;
}

.dropdown-hamburger {
  cursor: pointer;
}

.dropdown-line {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 4px 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.dropdown-menu--fade-in {
  display: block;
  animation: fadeIn 0.3s;
}

.dropdown-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu__item {
  padding: 12px 16px;
}

.dropdown-menu__link {
  text-decoration: none;
  color: black;
}

.dropdown-menu__item--services:hover {
  background-color: #f1f1f1;
}

.dropdown-menu__services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu__services-list--fade-in {
  display: block;
  animation: fadeIn 0.3s;
}

.dropdown-menu__services-item {
  padding: 12px 16px;
}

.dropdown-menu__services-link {
  text-decoration: none;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
