.dropdownContainer {
  position: relative;
  cursor: pointer;

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;

    .line {
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color);
      transition: all 0.3s ease;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: max-height 0.3s ease;
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 1rem;
        text-align: left;
        cursor: pointer;

        a {
          text-decoration: none;
          color: var(--primary-color);
          display: block;

          &:hover {
            color: var(--secondary-color);
          }
        }

        &.services {
          position: relative;

          .servicesMenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            li {
              padding: 0.5rem 1rem;

              a {
                color: var(--text-color);
              }
            }
          }

          &.open .servicesMenu {
            max-height: 500px; 
          }
        }
      }
    }
  }
}
